@import "tailwindcss";

:root {
  --grad-angle: 135deg;
}

@theme {
  --color-theme-white: #FAFAFA; /* Replace with your target hex later */
}

@layer utilities {
  .bg-solution-purple {
    background-image: linear-gradient(var(--grad-angle), #380551 0%, #B585E3 38%, #4D00AB 100%);
  }
  .text-shadow-sm {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
  }
  .text-shadow-md {
    text-shadow: 6px 7px 4px rgba(0, 0, 0, 0.47);
  }
  .text-shadow-lg {
    text-shadow: 3px 3px 6px rgba(0,0,0,0.35);
  }
  .shadow-xl{
    box-shadow:6px 7px 4px rgba(0, 0, 0, 0.47) ;
  }
}



